/*
 * This is is imported by virtue of "sass.var" in "app.json".
 */


$base-color: lighten(#778899, 0%);
$background-color: lighten(#E0FFFF, 0%);;
$font-family: dynamic(arial);
$checkboxfield-checkbox-color: #F5FFFA(black, 60%);
$enable-font-awesome: dynamic(true);
